.app-mensajes{
  overflow-y:scroll;
  height:60vh;
  width: 30vw;
  background:white;
  padding: 5px;
}

.container-chat{
	display: flex;
	flex-direction: column;

	height: 60vh;
	width: 30vw;

	background-color: blue;
}

.chat-window{
  padding: 10px;
  width: 300px;
  height: 400px;
  overflow: hidden;
  border: 1px solid #4080FF;
  border-radius: 20px;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeIn {
  animation-name: fadeIn;
}