<div class="container-chat">
	<div id="app-mensajes" class="app-mensajes">
		<div *ngFor="let mensaje of _ls.mensajes | async">

	    <!-- <span class="badge" [ngClass]="{ 'badge-primary': _cs.usuario.uid == chat.uid,
	                                     'badge-success': _cs.usuario.uid != chat.uid }"> -->
     	<span class="red darken-2 white-text">
	      {{ mensaje.nombre }}
	    </span>
	    <p class="grey grey-text text-darken-3">
	      Q: {{ mensaje.mensaje }}
	    </p>
	</div>
	</div>
	<input [(ngModel)]="mensaje"
	        name="mensaje"
	        (keyup.enter)="enviar()"
	        placeholder="Deja tu mensaje..."
					class="grey darken-4 center white-text">
	<a class="waves-effect waves-light btn-large red darken-4" (click)="enviar()">Enviar</a>
</div>
