.derecha{
  background-color: blue;
}

.app-mensajes, .listado-chats{
  overflow-y:scroll;
  height:70vh;
  width: 30vw;
  padding: 25px;
  border-radius: 10px;
}
.listado-chats{
  margin-right: 5%;
}

.container-chat{
	display: flex;
	flex-direction: column;
	height: 70vh;
	width: 30vw;
}

.chat-window{
  padding: 10px;
  width: 300px;
  height: 400px;
  overflow: hidden;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeIn {
  animation-name: fadeIn;
}
.listado-chats{
	background-color: white;
	height: 60vh;
	width: 30vw;
}

.miContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.btn-large{
  font-family: 'Josefin Slab', serif;
  font-size: 15px;
  font-weight: 700;
}
#cambios{
  margin-bottom: 1%;
  font-size: 20px;
  font-family: 'Amatic SC', cursive;
  width: 23vw;
}
#hola{
  weight:700;
  font-size: 40px;
}
input{
  font-size: 20px;
  outline: none;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0;
  border-radius: 10px;
}
span{
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}
p{
  padding: 5px;
  font-family: 'Josefin Slab', serif;
	font-size: 18px;
  border-radius: 5px;
}
