.brand-logo,.button-collapse, #logo{
	font-family: 'Grand Hotel', cursive;
}
#letra{
	font-family: 'Josefin Slab', serif;
	font-weight: 700;
}
.brand-logo{
	margin-left: 5%;
}

ul li a{
	font-size: 20px;
}
nav{
	margin-top: 5%;
}
