	<ul id="menuDesayuno" class="dropdown-content">
	  <li><a>Entrada</a></li>
	  <li class="divider"></li>
	  <li><a href="./desayunoFuerte.html">Plato fuerte</a></li>
	  <li class="divider"></li>
	  <li><a href="./desayunoPostre.html">Postre</a></li>
	</ul>
	<ul id="menuDesayunoMovil" class="dropdown-content">
	  <li><a href="./desayunoEntrada.html">Entrada</a></li>
	  <li class="divider"></li>
	  <li><a href="./desayunoFuerte.html">Plato fuerte</a></li>
	  <li class="divider"></li>
	  <li><a href="./desayunoPostre.html">Postre</a></li>
	</ul>

	<ul id="menuComida" class="dropdown-content">
	  <li><a href="../comida/comidaEntrada.html">Entrada</a></li>
	  <li class="divider"></li>
	  <li><a href="../comida/comidaFuerte.html">Plato fuerte</a></li>
	  <li class="divider"></li>
	  <li><a href="../comida/comidaPostre.html">Postre</a></li>
	</ul>
	<ul id="menuComidaMovil" class="dropdown-content">
	  <li><a href="../comida/comidaEntrada.html">Entrada</a></li>
	  <li class="divider"></li>
	  <li><a href="../comida/comidaFuerte.html">Plato fuerte</a></li>
	  <li class="divider"></li>
	  <li><a href="../comida/comidaPostre.html">Postre</a></li>
	</ul>

	<ul id="menuCena" class="dropdown-content">
	  <li><a href="../cena/cenaEntrada.html">Entrada</a></li>
	  <li class="divider"></li>
	  <li><a href="../cena/cenaFuerte.html">Plato fuerte</a></li>
	  <li class="divider"></li>
	  <li><a href="../cena/cenaPostre.html">Postre</a></li>
	</ul>
	<ul id="menuCenaMovil" class="dropdown-content">
	  <li><a href="../cena/cenaEntrada.html">Entrada</a></li>
	  <li class="divider"></li>
	  <li><a href="../cena/cenaFuerte.html">Plato fuerte</a></li>
	  <li class="divider"></li>
	  <li><a href="../cena/cenaPostre.html">Postre</a></li>
	</ul>

	<ul id="menuBebidas" class="dropdown-content">
	  <li><a href="../bebida/bebidaFria.html">Bebidas frias</a></li>
	  <li class="divider"></li>
	  <li><a href="../bebida/bebidaCaliente.html">Bebidas calientes</a></li>
	  <li class="divider"></li>
	  <li><a href="../bebida/bebidaAlcohol.html">Bebidas alcoholicas</a></li>
	</ul>
	<ul id="menuBebidasMovil" class="dropdown-content">
	  <li><a href="../bebida/bebidaFria.html">Bebidas frias</a></li>
	  <li class="divider"></li>
	  <li><a href="../bebida/bebidaCaliente.html">Bebidas calientes</a></li>
	  <li class="divider"></li>
	  <li><a href="../bebida/bebidaAlcohol.html">Bebidas alcoholicas</a></li>
	</ul>

	<!--Barra de navegación del restaurante, se podra mover a la sección que se desee
	   realizado mediente una lista que mandan a llamar a las id's de cada lista de los menus
	   mediante el data-activates-->
		 <nav class="red darken-3"><!--Etiqueta para la barra de la vegación la clase ayuda al diseño-->
	 	  <div class="nav-wrapper "><!--clases que nos ayudan en el diseño-->
	 	  <!--Etiqueta para el logo del restaurante con un href que nos llevara a la pagina
	 				principal de la aplicación-->
	 	    <a  class="brand-logo hide-on-small-only"> Gondola Restaurant </a>
	 	    <a  data-activates="mobile-demo" class="button-collapse "><i class="material-icons">Gondola Restaurant</i></a>
	 	    <div class="row">
	 	    	<!--Etiqueta que nos permite diseñar una lista con una clase que nos ayuda al diseño responsivo que indica que esta lista se va a ocultar cuando llegue a una versión de tabelet o telefono y mediante la etiqueta del logo del restaurante aparecera otro tipo de menú-->
	 	    	<ul class="right hide-on-med-and-down">

	 				<li><a class="dropdown-button" data-activates="menuDesayuno">Desayunos</a></li>
	 				<li><a class="dropdown-button" data-activates="menuComida">Comidas</a></li>
	 				<li><a class="dropdown-button" data-activates="menuCena">Cenas</a></li>
	 				<li><a class="dropdown-button" data-activates="menuBebidas">Bebidas</a></li>
	 				<li><a class="dropdown-button" >Pedidos</a></li>
	 				<li><a class="dropdown-button" >Comentarios</a></li>
	 				<li><a class="dropdown-button" href="#">Chat</a></li>
	 				<li><a class="dropdown-button" >Contacto</a></li>
	 				<li><a class="dropdown-button" >Info</a></li>

	 	    	</ul>
	 	    	<ul class="side-nav" id="mobile-demo">
	 		        <li><a class="dropdown-button" data-activates="menuDesayunoMovil">Desayunos</a></li>
	 		        <li><a class="dropdown-button" data-activates="menuComidaMovil" >Comidas</a></li>
	 		        <li><a class="dropdown-button" data-activates="menuCenaMovil" >Cenas</a></li>
	 		        <li><a class="dropdown-button" data-activates="menuBebidasMovil" >Bebidas</a></li>
	 		        <li><a class="dropdown-button" >Pedidos</a></li>
	 						<li><a class="dropdown-button" >Comentarios</a></li>
	 						<li><a class="dropdown-button" href="#">Chat</a></li>
	 						<li><a class="dropdown-button" >Contacto</a></li>
	 						<li><a class="dropdown-button" >Info</a></li>
	 		    </ul>
	 	    </div>
	 	  </div>
	 	</nav>